<div class="card">
        <div class="card-header  my-bg-primary  appuye">
          <h4 class="text-white">Disponibilités (en constante évolution)</h4>
        </div>
        <div class="card-body fondParDefaut"> 

    <iframe src="https://www.google.com/calendar/embed?title=Didier%20Defrance%3A%20(in)disponibilit%C3%A9s&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=e4sg36nmv8oj9ftlltjuppl7c4%40group.calendar.google.com&amp;color=%238C500B&amp;src=m36f42fbr34kmmf2k52leqmudg%40group.calendar.google.com&amp;color=%231B887A&amp;src=tdqvept8uuvh1ndn3v8ea17g64%40group.calendar.google.com&amp;color=%23182C57&amp;src=sfdob51gu3p4d9qesr5qg2l58s%40group.calendar.google.com&amp;color=%2342104A&amp;src=fr.french%23holiday%40group.v.calendar.google.com&amp;color=%232F6309&amp;src=e_2_fr%23weeknum%40group.v.calendar.google.com&amp;color=%23B1440E&amp;ctz=Europe%2FParis" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
    <div class="card-footer">
            NB: ce planning (de référence) est très régulièrement remis à jour. Il se peut tout de même qu'une mission acceptée il y a quelques heures n'y soit pas encore reportée.
            Inversement, certaines options une fois annulées engendrent de nouvelles disponibilités imprévues. N'hésitez  pas  à me contacter par SMS ou par email pour obtenir une confirmation sur une période de dates qui vous intéresse.
            <hr/>
            <p>Email: <a href="mailto:didier@d-defrance.fr">didier@d-defrance.fr</a></p>
            <p>SMS: 06 99 24 41 06</p>
    </div>
</div>




