<div class="card">
        <div class="card-body">

Ayant une grande expérience en informatique (technologies WEB , java/JEE , SOA), je peux apporter
certains conseils dans le cadre d'une participation ponctuelle à un projet d'envergure.<br/>
Voici une liste (non exhaustive) de <u>services</u> que je peux proposer: <br/>
- modélisation UML (expression des besoins, analyse, conception)<br>
- élaboration d'un "POC" / prototype technique (nouvelle combinaison de technologies récentes)<br>
- élaboration d'une architecture logicielle (bon dimensionnement, adapation "cloud/saas")<br>

</div>
</div>
