<div class="card">
      <div class="card-header  bg-secondary  appuye">
        <h4 class="text-white">Mes contributions</h4>
      </div>
      <div class="card-body fondParDefaut">
    <table border="1">
       <tr>
          <th colspan="3" class="au-centre" >Quelques projets sur GitHub</th>
       </tr>
       <tr>
          <th  class="au-centre" >lien (url)</th> <th class="au-centre">description</th><th class="au-centre">type</th>
       </tr>
      
       <tr class="impair">
         <td><a href="https://github.com/didier-mycontrib/jee-spring-app-demo" target="_blank">https://github.com/didier-mycontrib/jee-spring-app-demo</a></td>
         <td class="appuye">plein d'exemples Spring, springBoot, ...</td>
         <td>démos</td>
        </tr>
        <tr class="pair">
         <td><a href="https://github.com/didier-mycontrib/tp_node_js" target="_blank">https://github.com/didier-mycontrib/tp_node_js</a></td> 
         <td class="appuye">plein d'exemples nodeJs, express, ...</td>
         <td>démos</td>
       </tr>
        <tr class="impair">
         <td><a href="https://github.com/didier-mycontrib/angular8plus" target="_blank">https://github.com/didier-mycontrib/angular8plus</a></td>
         <td class="appuye">exemples Angular8+ (ng-bs4-app/src/bs_util , ...)</td>
         <td>démos</td>
        </tr>
        <tr class="pair">
         <td ><a href="https://github.com/didier-tp/m2iDefJavaFullStack" target="_blank">https://github.com/didier-tp/m2iDefJavaFullStack</a></td> 
         <td class="appuye">exemples divers (java , js , pwa , ...)</td>
         <td>tp, démos</td>
       </tr>
       <tr class="impair">
         <td><a href="" target="_blank">...</a></td>
         <td class="appuye">...</td>
         <td>tp, démos</td>
        </tr>
        <tr class="pair">
         <td><a href="" target="_blank">...</a></td> 
         <td class="appuye">...</td>
         <td>tp, démos</td>
       </tr>
       
    </table>
    <hr/>
    <ul>
    <li>Les <b>TPs</b> effectués durant les formations sont généralement accessibles dans le paquet de référentiels suivant:<br/>
    <a href="https://github.com/didier-tp" target="_blank">https://github.com/didier-tp</a></li>
    
    <li>Les <b>Mini projets</b> et <b>démos</b> sont en libre consultation dans le paquet de référentiels suivant:<br/>
    <a href="https://github.com/didier-mycontrib" target="_blank">https://github.com/didier-mycontrib</a></li>
    </ul>
    
    </div>
</div>
