<div class="card">
    <div class="card-body">
Je peux (selon mes disponibilités) développer un site web (tel que celui-ci,avec plus de fonctionnalités) selon les modalités suivantes:  
<br/>
<br/>
<ul>
  <li>compréhension de l'objectif métier et première estimation du coût <i>(2 * 2 heures environ)</i></li>
  <br/>
  <u> phase "avant projet" <i>(quelques demi-journées)</i>: </u>
  <li>maquette statique et "responsive" en HTML5/CSS3/Bootstrap</li>
  <li>ajustements de la maquette et estimation plus précise du coût</li>
  <br/>
  <u> phase "élaboration" <i>(quelques journées)</i>:</u>
  <li>programmation de la partie backEnd (WS REST JSON + DataBase) en nodeJs/express/Mongo (80% des cas) ou bien java/spring/jpa/Mysql (20% des cas)</li>
  <li>programmation de la partie frontEnd (S.P.A.) en typescript/angular/bootstrap-css</li>
  <br/>
  <u> phase "déploiement" <i>(quelques demi-journées)</i> :</u>
  <li>tests et déploiement sur un hébergement cloud (ovh, gandi)</li>
  <li>livraison de tous les éléments sources (code, paramétrages, diagrammes)</li>
  <li>micro-réajustements (avec le recul, ...)</li>
  <br/>
  <li>éventuelles évolutions (selon nouveaux besoins, maintenance, re-looking)</li>
</ul>

<hr/>
NB: le coût global (de 1000 à 3500 euros environ) dépend essentiellement de 2 facteurs:<br>
- complexité (simple : site "vitrine" avec contacts , complexe : avec "opérations en ligne")<br/>
- hyper-classique ou "sur mesure" <br/>

</div>
</div>
