<div class="row">
    <div class="col-sm-5">
        <img src="posts/images/didier.jpg" width="100%"/>
    </div>
    <div class="col-sm-7">
        <p class="titre1">Qui suis-je ?</p>
        Diplomé de l'INSA de Rouen en 1992 , j'ai commencé ma carrière professionnelle en dispensant des formations informatiques (C/C++, unix, windows) en tant qu'ingénieur d'études salarié.
        Depuis 2005, j'excerce ma profession en tant que consultant informatique indépendant et je travaille régulièrement avec divers centres de formation (M2i-Formation, IB-Formation, Global-knowledge, AFCEPF, FuturSkill, Isika, etc).
        D’un tempérament calme, mon travail est sérieux et rigoureux.<br/>
        J'ai beaucoup d'expérience en programmation "java/JEE" (JSF, EJB, Spring, JPA/Hibernate). <br/>
        Ceci dit , les technologies informatiques ne cessent d'évoluer et les technologies "javascript" modernes (ex: ES6/typescript, angular) s'imposent petit à petit du coté "front-end".
        J'ai depuis quelques années pris le bon virage technologique (élargissement de mes compétences vers jQuery/bootstrap-css, typescript/angular, node/express/mongoDB, développement mobile) .<br/>
        Ayant pu voir (après 25ans d'expérience) un grand nombre d'architectures (client/serveur, 3-tiers, SOA, WEB, micro-services), j'ai aujourd'hui pas mal de recul et je peux apporter de sérieux conseils (ex: activités plus ou moins chronophages, retour sur investissement).<br/>
        Mes compétences ne sont néanmoins pas que "purement techniques", la modélisation "UML2" et "BPMN2" fait partie de mes "savoir-faire" et le fonctionnel c'est ce qui donne du sens au travail de l'informaticien !
    </div>
    </div>
