<div class="card">
        <div class="card-header  my-bg-primary  appuye">
          <h4 class="text-white">news/avis/conseils</h4>
        </div>
        <div class="card-body fondParDefaut">
         
            <tabset>
                <tab>
                     <ng-template tabHeading><b>news/avis/réflexions</b></ng-template>
                     <app-news></app-news>       
                </tab>
                <tab>
                    <ng-template tabHeading><b>technologies préférées</b></ng-template>
                    <app-prefer-technos></app-prefer-technos>      
                </tab>
            </tabset>
    
        
        </div>
    </div>
