<tabset>
    <tab>
        <ng-template tabHeading><b>périmètre</b></ng-template>
        <img src="posts/images/domaines_competences.png" width="66%"/>      
    </tab>
    <tab>
        <ng-template tabHeading><b>java/jee/spring</b></ng-template>
        <img src="posts/images/competences_jee_spring.png" width="66%"/>
       </tab>
    <tab>
        <ng-template tabHeading><b>javascript</b></ng-template>
        <img src="posts/images/competences_javascript.png" width="66%"/>      
    </tab>
    <tab>
        <ng-template tabHeading><b>devops</b></ng-template>
        <img src="posts/images/competences_devops.png" width="66%"/>
   </tab>
    <tab>
        <ng-template tabHeading><b>transverse</b></ng-template>
        <img src="posts/images/competences_transverses.png" width="66%"/>
   </tab>
</tabset>

