<div class="card">
    <div class="card-body">

        <div class="card">
            <h4 class="card-header my-bg-primary appuye text-white">Technologies favorites (maîtrisées)</h4>
            <div class="card-body fondParDefaut">          

            <ul>
                <li><a href="https://angular.io/" target="_blank">Angular 8+</a></li>
                <li><a href="https://spring.io/" target="_blank">Spring</a></li>
                <li><a href="https://nodejs.org/en/" target="_blank">nodeJs</a></li>
                <li><a href="https://www.docker.com/" target="_blank">Docker</a></li>
            </ul>
        </div>
        </div>
        <br/>

        <div class="card">
                <h4 class="card-header my-bg-primary appuye text-white">Technologies intéressantes (à étudier)</h4>
                <div class="card-body fondParDefaut">

            <ul>
                <li><a href="https://www.powertrafic.fr/progressive-web-apps-web-mobile/" target="_blank">Progressive web app</a></li>
                <li><a href="https://www.vagrantup.com/" target="_blank">vagrant</a></li>
                <li><a href="https://kubernetes.io/fr/" target="_blank">kubernates</a></li>
                <li><a href="https://flutter.dev/" target="_blank">flutter</a></li>
                <li><a href="" target="_blank">...</a></li>
            </ul>
        </div>
        </div>

</div>
</div>
