<div class="card">
        <div class="card-body">
Depuis près de 25 ans (en tant que salarié puis en tant que consultant indépendant), je prépare et j'anime régulièrement des formations informatiques dans les domaines suivants:
<ul>
<li><b>Javascript (ES6+),  typescript</b> </li>
<li>essentiel de HTML5/CSS3, bootstrap/jQuery, ajax, scss</li>
<li>essentiel de <b>nodeJs/express</b>, <b>npm</b>, MongoDB</li>
<li>essentiel de <b>SQL, MySQL</b>, ...</li>
<li><b>Angular 4,6,8+</b> </li>
<li><b>Java 8 & 11</b> </li>
<li>JEE 7 (Servlet/JSP, EJB3, <b>JPA2</b>/Hibernate, JSF2) </li>
<li><b>Web Services REST/JSON</b> (JAX-RS, spring-mvc, token JWT,OAuth2) </li>
<li><b>écosystème Spring</b> (spring 5, spring-boot 2, spring-data) </li>
<li><b>Devops</b> et intégration continue (GIT, Maven, Jenkins, Vagrant, Docker)</li>
<li><b>UML 2</b> (expression des besoins, analyse et conception)</li>
<li>architectures SOA et <b>micro-services</b>(SOAP/WSDL, ESB, BPMN2, <b>Docker</b>)</li>
<li>essentiel de C/C++ (souvenirs)</li>
</ul>
</div>
</div>
